.booklist{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

}

.book-item {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid;
  width: 280px;
}

.head {
  border: 1px solid #000;
  border-radius: 10px;
  background: green;
  color: red;
  width: 90%;
  margin: 20px auto;
}